.trainer-cardmini {
  /* border: 1px dashed black; */
  display: inline-block;
  width: 10.833vw;
  height: 13.59375vw;
  background: #fff6dd;
  box-shadow: 0.20833333vw 0.20833333vw 0.52083vw 0.15625vw rgba(0, 0, 0, 0.25);
  border-radius: 0.52083vw;
  margin: 1.25vw 2vw;
}

.trainer-cardmini .trainer-picmini {
  background-size: cover;
  /* border: 1px dashed black; */
  margin: 0.5833vw 0.5833vw 0 0.5833vw;
  width: 9.6354167vw;
  height: 9.739583vw;
}

.trainer-cardmini .text-in-trainer-cardmini {
  text-align: center;
}

.trainer-cardmini .text-in-trainer-cardmini h1 {
  margin-top: 0.4479167vw;
  font-size: 1.04167vw;
}

.trainer-cardmini .text-in-trainer-cardmini p {
  font-size: 0.9375vw;
  padding-bottom: 1.19791667vw;
}
