.content-card {
  /* width: 44.89583vw; */
  height: 26.04166666vw;
  background: #ffffff;
  box-shadow: 0.2083vw 0.2083vw 0.52083vw 0.26vw rgba(0, 0, 0, 0.25);
  border-radius: 0.52083vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5vw;
  padding-right: 3vw;
}

.content-card h1 {
  font-weight: 600;
  font-size: 2.64166666vw;
  color: #000000;
  padding-left: 4.5vw;
}

.content-card p {
  font-weight: 400;
  font-size: 2.0833333vw;
  color: #000000;
  padding-left: 4.5vw;
}

.content-card ul {
  padding-left: 4.5vw;
  margin-top: 2vw;
}

.content-card li {
  font-weight: 500;
  font-size: 2.0833333vw;
  color: #000000;
}
