.admin-manage-videos-and-food-page .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vw;
  margin-top: 4vw;
  min-height: 89vh;
}

/* Section manage-videos-and-food */
.admin-manage-videos-and-food-page
  .row-of-navbar-left-and-manage-videos-and-food {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.admin-manage-videos-and-food-page .vedio-and-food-schedule {
  width: 70%;
}

/* Select and Search */
.admin-manage-videos-and-food-page .row-of-select-and-search-box {
  display: flex;
  justify-content: space-between;
}

.admin-manage-videos-and-food-page
  .row-of-select-and-search-box
  .select
  select {
  width: 8.375vw;
  height: 2.083333333vw;
  background: #ffffff;
  border: 0.0520833333vw solid #2b90c4;
  box-sizing: border-box;
  border-radius: 0.520833333vw;
  margin-right: 1.2vw;
}

.admin-manage-videos-and-food-page
  .row-of-select-and-search-box
  .select
  select:nth-child(2) {
  width: 11.375vw;
}

.admin-manage-videos-and-food-page .search-box form {
  display: flex;
  height: 2.083333333vw;
}

.admin-manage-videos-and-food-page .search-box input {
  height: 2.083333333vw;
  width: 10vw;
  background: #ffffff;
  border: 0.0520833333vw solid #2b90c4;
  box-sizing: border-box;
  border-radius: 0.520833333vw;
}

.admin-manage-videos-and-food-page .search-box  button[type="submit"] {
  height: 2.083333333vw;
  background: inherit;
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5vw;
}

.admin-manage-videos-and-food-page .search-box button[type="submit"]:hover {
  cursor: pointer;
}

.admin-manage-videos-and-food-page button img {
  height: 1.783333333vw;
  background: inherit;
  box-sizing: border-box;
  border-radius: 0.520833333vw;
}

/* Vedio Schedule*/
/* Table */
.admin-manage-videos-and-food-page .vedios-schedule table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0.5vw;
}

.admin-manage-videos-and-food-page .vedios-schedule td,
.admin-manage-videos-and-food-page .vedios-schedule th {
  border: 0.052083333vw solid #2b90c4;
  text-align: center;
  font-weight: 600;
  font-size: 1.04166666vw;
}

.admin-manage-videos-and-food-page .vedios-schedule th {
  color: #000000;
  height: 3.125vw;
  background: #bee686;
  box-sizing: border-box;
}

.admin-manage-videos-and-food-page .vedios-schedule tr th:nth-child(2) {
  width: 26.822916666vw;
}

.admin-manage-videos-and-food-page .vedios-schedule tr td {
  height: 3.125vw;
  background: #ffffff;
  box-sizing: border-box;
}

.admin-manage-videos-and-food-page .vedios-schedule tr td:nth-child(2) {
  width: 26.822916666vw;
  font-weight: normal;
  font-size: 0.9375vw;
  color: #000000;
}

/* input */
.admin-manage-videos-and-food-page .vedios-schedule input#exercisename {
  width: 13.666666vw;
  height: 2.0833333vw;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 0.2604166666vw;
  border: 0.052083333vw solid #2b90c4;
}

.admin-manage-videos-and-food-page .vedios-schedule input#youtubelink {
  width: 23.866666vw;
  height: 2.0833333vw;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 0.2604166666vw;
  border: 0.052083333vw solid #2b90c4;
}

/* Button */
.admin-manage-videos-and-food-page .vedios-schedule tr td button {
  width: 5.208333333vw;
  height: 2.08333333333vw;
  background: #2b90c4;
  border-radius: 0.52083333vw;
  border: 0.052083333vw solid #2b90c4;
  font-weight: 600;
  font-size: 1.04166666vw;
  color: #ffffff;
}

.admin-manage-videos-and-food-page .vedios-schedule tr td button:hover {
  cursor: pointer;
}

.admin-manage-videos-and-food-page .vedios-schedule tr td .btn-add {
  width: 10.416666666vw;
}


/* IMG size */
.admin-manage-videos-and-food-page .food-schedule .row-img-and-add-del-img-button {
  /* width: 53.6458333vw; */
  width: 100%;
  display: block;
  margin-bottom: 4vw;
}

.admin-manage-videos-and-food-page .food-schedule img {
  /* width: 53.6458333vw; */
  width: 100%;
  display: block;
  border: 1px solid black;
}

.admin-manage-videos-and-food-page .food-schedule {
  /* width: 53.6458333vw; */
  display: flex;
  /* justify-content: flex-end; */
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  margin-top: 2vw;
}

/* Add Del Image Button */
.admin-manage-videos-and-food-page .food-schedule .del-img {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 7vw;
  background-color: #ffffff;
}

.admin-manage-videos-and-food-page .food-schedule .del-img input {
  width: 15.208333333vw;
}

.admin-manage-videos-and-food-page .food-schedule .del-img button[type='submit'] {
  width: 15.208333333vw;
  height: 3.08333333333vw;
  background: #2b90c4;
  border-radius: 0.52083333vw;
  border: 0.052083333vw solid #2b90c4;
  font-weight: 600;
  font-size: 1.04166666vw;
  color: #ffffff;
  margin-top: 1vw;
}

.admin-manage-videos-and-food-page .food-schedule .del-img button {
  width: 15.208333333vw;
  height: 3.08333333333vw;
  background: #2b90c4;
  border-radius: 0.52083333vw;
  border: 0.052083333vw solid #2b90c4;
  font-weight: 600;
  font-size: 1.04166666vw;
  color: #ffffff;
}

.admin-manage-videos-and-food-page .food-schedule .del-img button:hover {
  cursor: pointer;
}


.admin-manage-videos-and-food-page .food-schedule .del-img .del-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-manage-videos-and-food-page .food-schedule .add-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  height: 7vw;
  border: 0.052083333vw solid #000000;
}

.admin-manage-videos-and-food-page .food-schedule .add-button button {
  width: 15.208333333vw;
  height: 3.08333333333vw;
  background: #2b90c4;
  border-radius: 0.52083333vw;
  border: 0.052083333vw solid #2b90c4;
  font-weight: 600;
  font-size: 1.04166666vw;
  color: #ffffff;
}

.admin-manage-videos-and-food-page .food-schedule .add-button button:hover {
  cursor: pointer;
}
