.service-page .container {
  width: 80%;
  margin: 0 auto;
}

.service-page .service-program {
  margin-top: 1.822916vw;
}

.service-page .odd-section-of-secvice-card {
  margin-bottom: 3.64583vw;
}

.service-page .even-section-of-secvice-card {
  margin-bottom: 3.64583vw;
}

/* Form */
.service-page .form-consultant h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2.6041666vw;
  color: #43c466;
  padding-top: 2.6041666vw;
}

.service-page .form-to-decide {
  margin: 2.0833333vw auto;
  width: 78.958333vw;
  height: 44.8958333vw;
  background: #ffffff;
  box-shadow: 0.2083vw 0.2083vw 0.5208333vw 0.15625vw rgba(0, 0, 0, 0.25);
  border-radius: 0.5208333vw;
}

.service-page .form-to-decide img:first-child {
  margin-top: 2.08333vw;
  position: absolute;
  margin-left: 36vw;
  transform: translate(-50%, 0%);
  /* bottom: 0%; */
  width: 2.6041666vw;
}

.service-page .form-to-decide img:nth-child(2) {
  margin-top: -2.083333vw;
  position: absolute;
  margin-left: 40vw;
  transform: translate(-50%, 0%);
  /* bottom: 0%; */
  width: 10.989583vw;
}

.service-page .form-to-decide h1 {
  padding-top: 6.25vw;
  font-weight: 600;
  font-size: 2.604166vw;
  color: #000000;
}

.service-page .form-to-decide form label {
  display: inline-block;
  font-weight: 600;
  font-size: 1.45833333vw;
  color: #000000;
}

.service-page .form-to-decide form input {
  display: inline-block;
  width: 20vw;
  height: 3.125vw;
  background: #ffffff;
  border: 0.052083333vw solid #2b90c4;
  box-sizing: border-box;
  border-radius: 0.52083333vw;
  margin-top: 2.0833333333vw;
  margin-left: 1.3020833333vw;
}

.service-page .fullname-form-consultant {
  margin-left: 10.41666666vw;
}

.service-page .fullname-form-consultant label:nth-child(3) {
  margin-left: 2.96875vw;
}

.service-page .weight-hight-form-consultant {
  margin-left: 12.2145833vw;
}

.service-page .weight-hight-form-consultant label:nth-child(3) {
  margin-left: 4.89583333333333vw;
}

.service-page .email-form-consultant {
  margin-left: 12.96875vw;
}

.service-page .email-form-consultant #email{
  width: 50.625vw;
  height: 3.125vw;
  background: #ffffff;
  border: 0.052083333vw solid #2b90c4;
  box-sizing: border-box;
  border-radius: 0.52083333vw;
}

.service-page .additional-form-consultant {
  display: flex;
  margin-left: 6.77083vw;
  margin-top: 2.08333vw;
}

.service-page .additional-form-consultant textarea {
  width: 50.625vw;
  height: 10.3645833vw;
  background: #ffffff;
  border: 0.052083333vw solid #2b90c4;
  box-sizing: border-box;
  border-radius: 0.52083333vw;
  margin-left: 1.302083vw;
}

.service-page .form-to-decide form input[type="submit"] {
  width: 9.167vw;
  height: 3.125vw;
  margin-left: 59.89583vw;
  margin-top: 1.302083vw;
  background: #2b90c4;
  color: #ffffff;
  border-radius: 0.52083333vw;
  font-size: 1.4583333vw;
  text-align: center;
  padding-left: 0;
}

.service-page .form-to-decide form input[type="submit"]:hover {
  cursor: pointer;
}
