.service-page .container {
  width: 80%;
  margin: 0 auto;
}

.service-page .service-program {
  margin-top: 1.822916vw;
}

/* Section Contact us */
.service-page .horizental-line {
  width: 100%;
  height: 0.52vw;
  background: #2b90c4;
  border-radius: 0.52vw;
}
