/* Global */
.homepage-body .container {
  margin: 0 auto;
  width: 80%;
}

/* Section Promo */
.homepage-body .promotion {
  width: 100%;
  overflow: hidden;
}

.homepage-body .img-promo {
  width: 100%;
}

.homepage-body .arrow {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1;
  height: 1.3vw;
  width: 1.3vw;
  filter: brightness(0) invert(1);
}

.homepage-body .arrow-right {
  right: 11%;
}

.homepage-body .arrow-left {
  left: 11%;
}

/* Section Result */
.homepage-body .result {
  margin-top: 2.23vw;
}

.homepage-body .result-text h1{
  width: 100%;
  font-weight: 600;
  font-size: 2.6vw;
  text-align: center;
  color: #43c466;
  margin-bottom: 2.23vw;
}


.homepage-body .arrowResult {
  height: 1.3vw;
  width: 1.3vw;
}

.homepage-body .resultImage {
  width: 40%;
}

.homepage-body .result-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  Section Trainer */
.homepage-body .trainer-card-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8.2vw;
}

.homepage-body .trainer-text h1{
  width: 100%;
  text-align: center;
  font-size: 2.6vw;
  font-weight: 600;
  color: #43c466;
  margin: 2.239583vw 0;
}


/* Section Contact us */
.homepage-body .horizental-line {
  width: 100%;
  height: 0.52vw;
  background: #2b90c4;
  border-radius: 0.52vw;
}

