.user-program-page .container {
  width: 80%;
  margin: 0 auto;
}

/* Section  workout-schedul And menu-bar-left-left-in-User-course-page*/
.user-program-page .content {
  width: 80%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.user-program-page .user-program-page-content {
  display: flex;
  margin-top: 5vw;
}

.user-program-page .menu-bar-left-in-user-program {
  display: flex;
  justify-content: space-between;
}

/* Section Contact us */
.user-program-page .horizental-line {
  width: 100%;
  height: 0.52vw;
  background: #2b90c4;
  border-radius: 0.52vw;
  margin-top: 4vw;
}
