.user-food-schedule-page-post-workout .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .user-food-schedule-page-post-workout .row-of-food-card {
    display: flex;
    justify-content: space-between;
    margin-top: 5vw;
  }
  
  /* Content Card */
  .user-food-schedule-page-post-workout .content-card {
    width: 44.89583vw;
    height: 26.04166666vw;
    background: #ffffff;
    box-shadow: 0.2083vw 0.2083vw 0.52083vw 0.26vw rgba(0, 0, 0, 0.25);
    border-radius: 0.52083vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5vw;
  }
  
  .user-food-schedule-page-post-workout .content-card h1 {
    font-weight: 600;
    font-size: 2.64166666vw;
    color: #000000;
    padding-left: 4.5vw;
  }
  
  .user-food-schedule-page-post-workout .content-card p {
    font-weight: 400;
    font-size: 2.0833333vw;
    color: #000000;
    padding-left: 4.5vw;
  }
  
  .user-food-schedule-page-post-workout .content-card ul {
    padding-left: 4.5vw;
    margin-top: 2vw;
  }
  
  .user-food-schedule-page-post-workout .content-card li {
    font-weight: 500;
    font-size: 2.0833333vw;
    color: #000000;
  }
  
  /* Section img Table */
  .user-food-schedule-page-post-workout .imgtable-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6vw;
  }
  
  .user-food-schedule-page-post-workout .img-table img {
    width: 60.7291666vw;
    /* height: 80.72916666vw; */
    border: 1px solid black;
  }
  
  /*  Section Consult Trainer*/
  .user-food-schedule-page-post-workout .consult-trainer-row {
    display: flex;
    justify-content: flex-end;
  }
  
  .user-food-schedule-page-post-workout .consult-trainer {
    margin-bottom: 4vw;
  }
  
  .user-food-schedule-page-post-workout .consult-trainer a {
    text-decoration: none;
    color: #000;
  }
  
  /* Section contact - us */
  .user-food-schedule-page-post-workout .horizental-line {
    width: 100%;
    height: 0.52vw;
    background: #2b90c4;
    border-radius: 0.52vw;
  }
  