.nav-bar-left-for-user-component .nav-body-box {
  width: 19.94791666vw;
  height: 37.44791666vw;
  background: #ffffff;
  box-shadow: 0.2083vw 0.2083vw 0.52083vw 0.26vw rgba(0, 0, 0, 0.25);
  border-radius: 0.52083vw;
  padding-top: 2.03125vw;
  text-align: center;
}

.nav-bar-left-for-user-component .img-user {
  background-image: url("../../PIC/Icon/user.png");
  background-size: cover;
  width: 10vw;
  height: 10vw;
  margin: 0 auto;
}

.nav-bar-left-for-user-component .nav-body-box h1 {
  font-weight: 600;
  font-size: 1.6vw;
  color: #000000;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}

.nav-bar-left-for-user-component .nav-body-box a {
  text-decoration: none;
}

.nav-bar-left-for-user-component .link-to-anatherpage-function a {
  display: block;
  font-weight: 600;
  font-size: 1.6vw;
  color: rgba(0, 0, 0, 0.5);
  height: 3vw;
  padding-top: 0.8vw;
}

/* .nav-bar-left-for-user-component .link-to-anatherpage-function a:nth-child(2) {
    background: rgba(97, 209, 150, 0.5);
    color: #000000FF;
} */

/* Button TO Log Out */
.nav-bar-left-for-user-component .link-to-anatherpage-function button {
  width: 100%;
  height: 3vw;
  background-color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 1.6vw;
  color: rgba(0, 0, 0, 0.5);
}

.nav-bar-left-for-user-component .link-to-anatherpage-function button:hover {
  cursor: pointer;
  background-color: #ff88a4;
  color: #000000ff;
}

/* .nav-bar-left-for-user-component .link-to-anatherpage-function button:hover {
    width: 100%;
    height: 3vw;
    background: rgba(97, 209, 150, 0.5);
    border: none;
    font-weight: 600;
    font-size: 1.6vw;
    color: rgba(0, 0, 0, 1);
} */

/* Selecor For the currently on page*/
.onPage {
  background: rgba(97, 209, 150, 0.5);
  color: #000000ff;
}
