.trainer-card {
  /* border: 1px dashed black; */
  display: inline-block;
  width: 29.01041vw;
  height: 36.4583vw;
  background: #fff6dd;
  box-shadow: 0.2083vw 0.2083vw 0.52083vw 0.15625vw rgba(0, 0, 0, 0.25);
  border-radius: 0.52083vw;
}

.trainer-card .trainer-pic {
  background-size: cover;
  /* border: 1px dashed black; */
  margin: 1.5625vw 1.5625vw 0 1.5625vw;
  width: 25.8854vw;
  height: 26.0416vw;
}

.trainer-card .text-in-trainer-card {
  text-align: center;
}

.trainer-card .text-in-trainer-card h1 {
  margin-top: 1.1979166vw;
  font-size: 2.604166vw;
}

.trainer-card .text-in-trainer-card p {
  font-size: 2.34375vw;
  margin-bottom: 1.1979167vw;
}