.menu-bar-component .content-box {
  background: #ffffff;
  box-shadow: 0.2083vw 0.2083vw 0.52083vw 0.26vw rgba(0, 0, 0, 0.25);
  border-radius: 0.52083vw;
  width: 11.875vw;
  /* height: 9.42708333vw; */
}

.menu-bar-component .onPage {
  background: rgba(97, 209, 150, 0.5);
}

/* Foodmenubar */
.menu-bar-component .food-menu-bar {
  outline: 0.0520833vw solid rgba(0, 0, 0, 0.2);
  border-width: 100%;
}

/* .menu-bar-component .food-menu-bar  button {
  background-color: #ffffff;
} */

/* Button  */
.menu-bar-component button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.14236111vw;
  cursor: pointer;
}

.content-box > button:first-child {
  border-radius: 0.52083vw 0.52083vw 0 0;
}

.content-box > button:last-child {
  border-radius: 0 0 0.52083vw 0.52083vw;
}
