.user-weekly-update-page .container {
  width: 80%;
  margin: 0 auto;
}

.user-weekly-update-page .row-of-weekly-update {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
  margin-top: 5vw;
}

/* Form Weekly Update */
.user-weekly-update-page .form-weekly-update {
  width: 59.84375vw;
  background: #ffffff;
  box-shadow: 0.2083vw 0.2083vw 0.52083vw 0.26vw rgba(0, 0, 0, 0.25);
  border-radius: 0.52083vw;
  padding-bottom: 4vw;
}

.user-weekly-update-page #first-of-row {
  margin-top: 4vw;
}

.user-weekly-update-page .row-of-content-in-form {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1.5vw auto;
}

.user-weekly-update-page .form-weekly-update label {
  font-weight: 600;
  font-size: 1.5625vw;
  color: #000000;
  margin-bottom: 1vw;
  display: inline-block;
}

.user-weekly-update-page .form-weekly-update #first-row label {
  font-weight: 600;
  font-size: 1.30208333vw;
  color: #000000;
}

.user-weekly-update-page .form-weekly-update input {
  width: 22.8333333vw;
  height: 3.125vw;
  background: #ffffff;
  border: 0.052083vw solid rgba(43, 144, 196, 0.5);
  box-sizing: border-box;
  border-radius: 0.52083vw;
}

.user-weekly-update-page .form-weekly-update input[type='submit'] {
  width: 80%;
  height: 3.125vw;
  border: 0.052083vw solid #2b90c4;
  background: #2b90c4;
  border-radius: 0.52083vw;
  font-weight: 600;
  font-size: 1.5625vw;
  color: #ffffff;
  margin: 0 auto;
  display: block;
}

.user-weekly-update-page .form-weekly-update .row-of-content-in-form h1 {
  font-weight: 600;
  font-size: 2.6041666666vw;
  color: #000000;
  text-align: center;
  margin-bottom: 1vw;
}

/* Section contact - us */
.user-weekly-update-page .horizental-line {
  width: 100%;
  height: 0.52vw;
  background: #2b90c4;
  border-radius: 0.52vw;
  margin-top: 4vw;
}
