.navbar-left-admin-trainer-component {
  width: 20.94791666vw;
  height: 43.083333vw;
  background: #ffffff;
  box-shadow: 0.2083vw 0.2083vw 0.52083vw 0.26vw rgba(0, 0, 0, 0.25);
  border-radius: 0.52083vw;
}

/* section image */
.navbar-left-admin-trainer-component .img-profile {
  display: flex;
  justify-content: center;
  padding-top: 2.083333vw;
}

.navbar-left-admin-trainer-component .img-profile img {
  width: 10vw;
  height: 10vw;
  border-radius: 5vw;
  object-fit: cover;
}

/* section Status */
.navbar-left-admin-trainer-component .name-and-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar-left-admin-trainer-component .name {
  font-weight: 600;
  font-size: 2.08333vw;
  height: 3.125vw;
  color: #000000;
  display: flex;
  align-items: center;
}

.navbar-left-admin-trainer-component .status {
  font-weight: 600;
  font-size: 2.08333vw;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.04166666666vw;
  width: 13.02083333vw;
  height: 2.60416666vw;
}

/* Section Nav Content */
.navbar-left-admin-trainer-component .navcontent {
  margin-top: 2vw;
}

.navbar-left-admin-trainer-component .navcontent a {
  text-decoration: none;
  color: #00000088;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.125vw;
}

.navbar-left-admin-trainer-component .navcontent a h1 {
  font-size: 2.08333vw;
  font-weight: 600;
}

.navbar-left-admin-trainer-component .navcontent button {
  font-size: 2.08333vw;
  height: 4.125vw;
  width: 100%;
  border: none;
  background-color: inherit;
}

.navbar-left-admin-trainer-component .navcontent button:hover {
  background-color:  #FF88A4;;
}

.navbar-left-admin-trainer-component .navcontent button h1 {
  font-size: 2.08333vw;
  font-weight: 600;
  color: #00000088;
}

.navbar-left-admin-trainer-component .navcontent button:hover h1 {
  color: #000000FF;
}
