/* Content Profile */
.user-profile-page .text-in-content-profile-and-consult-trainer {
  width: 52vw;
  margin-top: 2vw;
}

.user-profile-page .text-in-content-profile-and-consult-trainer .text-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5vw;
}

.user-profile-page .text-in-content-profile-and-consult-trainer .text-row .content-in-right {
  width: 55%;
}

.user-profile-page .text-in-content-profile-and-consult-trainer .text-row h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5625vw;
  color: #000000;
}

.user-profile-page .text-in-content-profile-and-consult-trainer .text-row p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5625vw;
  color: #000000;
}
