.workout-schedule {
  width: 100%;
}

.workout-schedule h1 {
  font-size: 2.5vw;
}

.workout-schedule #workout-schedule-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0.5vw;
}

.workout-schedule #workout-schedule-table thead {
  border-collapse: collapse;
}

.workout-schedule #workout-schedule-table tr {
  height: 3.125vw;
}

.workout-schedule #workout-schedule-table td,
.workout-schedule #workout-schedule-table th {
  border: 0.1041666666vw solid #000;
  text-align: center;
}

.workout-schedule #workout-schedule-table th {
  font-size: 1.1416666666vw;
}

.workout-schedule #workout-schedule-table td {
  column-span: none;
  font-weight: 600;
  font-size: 1.0416666666vw;
  height: 7.1145833vw;
  box-sizing: border-box;
  width: 7.1145833vw;
  padding: 0.3vw;
}

.workout-schedule #workout-schedule-table td a {
  font-weight: 600;
  font-size: 1.0416666666vw;
}

.workout-schedule select {
  width: 8.4791666vw;
  height: 2.125vw;
  background: #ffffff;
  border: 0.052083vw solid #2b90c4;
  border-radius: 0.52083vw;
  margin: 1vw;
}
